In [ ]:
# Break Statment
num = 0
for num in range(10):
  num = num+1
  if num == 8:
    break
  print("Num has value" + str(num))
print("Encounterd break !! out of loop ")

Num has value1
Num has value2
Num has value3
Num has value4
Num has value5
Num has value6
Num has value7
Encounterd break !! out of loop

In [ ]:
num = 0
for num in range(9):
  num = num+1
  print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
entry = 0
sum1 = 0
print("Enter the number to find their sum ,  if negative ends the loop")

while True :
  entry=int(input())
  if entry<0:
    break
  sum1+= entry
 print("Sum = " , sum1)

Enter the number to find their sum ,  if negative ends the loop
1
1
1
2
3
4
2
-1
Sum =  14

In [ ]:
# prints the values from 0 to 6 exepts 3:

for i in range(0,7):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6

In [ ]:
num = 0
for  num in range(6):
  num=num+1
  if num==3:
    continue
  print("Num has the value " + str(num))
print("End the loop")

Num has the value 1
Num has the value 2
Num has the value 4
Num has the value 5
Num has the value 6
End the loop

In [ ]:
# Nested loops
num = int(input("Enter a number to generate its pattern: "))
for i in range(1, num+1):
  for j in range(1,i+1):
    print(j, end=" ")
  print()

Enter a number to generate its pattern: 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
# functions
print("Enter the value for the cylindrical part of the tent in meters")
h = float(input("Enter the height of the Cylindrical Part "))
r = float(input("Enter the radius: "))
l = float(input("enter the slant height: "))

csa_conical = 3.14*r*l
csa_cylinder = 2*3.14*r*h
canvas_area = csa_conical + csa_cylinder
print("The area of the canvas is ", canvas_area, "m^2")
unit_price = float(input("Enter the cost of 1 m^2 canvas"))
total_cost = unit_price*canvas_area
print("the total Cost is ",total_cost)
#tax
tax = 0.18*total_cost
net_price = total_cost+tax
print("Net price ",net_price)

Enter the value for the cylindrical part of the tent in meters
Enter the height of the Cylindrical Part 3
Enter the radius: 5
enter the slant height: 4
The area of the canvas is  157.0 m^2
Enter the cost of 1 m^2 canvas25
the total Cost is  3925.0
Net price  4631.5

In [ ]:
print("Bism allah alrahman alrahim ")

Bism allah alrahman alrahim

In [ ]:

def cyl(h,r):
  area_cyl = 2*3.14*r*h
  return(area_cyl)

def con(l,r):
  area_con = 3.14*r*l
  return(area_con)



def net (cost):
  tax=0.18*cost
  net_price= cost +tax
  return net_price

def rect(len,b):
  area_rect = len*b
  return(area_rect)

In [ ]:
print("Enter the Value of the cylindrical part in meters")
h = float(input("Enter the height : "))
r = float(input("Enter the Radius"))
csa_cyl = cyl(h,r)

l = float(input("Enter the Slang : "))
csa_con = con(l,r)
canvas_area = csa_cyl + csa_con
print("Area of the canvas = ",canvas_area, "m^2")

unit_price=float(input("Enter the unit Price : "))
total_cost = unit_price*canvas_area

print("The Total cost of the canvas before taxes is  " , total_cost)
print("The final Price after taxes is ", net(total_cost))

Enter the Value of the cylindrical part in meters
Enter the height : 5
Enter the Radius6
Enter the Slang : 8
Area of the canvas =  339.12 m^2
Enter the unit Price : 5
The Total cost of the canvas before taxes is   1695.6
The final Price after taxes is  2000.808

In [ ]:
print("Enter the Value of the recktangular Shape : ")

len=float(input("Enter the length : "))
b = float(input("Enter the width value : "))
reck_area = rect(len,b)

l = float(input("Enter the the Slang of the upper Shape : "))
r = float(input("Enter the radius : "))
con_ar = con(l,r)
Body_area = reck_area + con_ar
print("The total Area is : ", Body_area, "m^2")

unit_price=float(input("Enter the unit Price : "))
toal_cost = unit_price*Body_area

print("The total cost before Taxes is : ", total_cost)
print("The final Price after Taxes is : " ,net(total_cost))

Enter the Value of the recktangular Shape :
Enter the length : 19
Enter the width value : 14
Enter the the Slang of the upper Shape : 12
Enter the radius : 6
The total Area is :  492.08 m^2
Enter the unit Price : 25
The total cost before Taxes is :  1695.6
The final Price after Taxes is :  2000.808

In [ ]:
def incrvalue(num):
  print("Parameter num has value : ", num, "\nid = " , id(num))
  num = num+5
  print("num increment by 5 is ", num , "\n Now id is ", id(num))

In [ ]:
number = int(input("Enter a number :"))
print("id of the argument number is : ", id(number))
incrvalue(number)

Enter a number :8
id of the argument number is :  138764323701200
Parameter num has value :  8
id =  138764323701200
num increment by 5 is  13
 Now id is  138764323701360

In [ ]:
id(1)

133236553842928

In [ ]:
float(1/2)

0.5

In [ ]:
def incrvalue(num):
  print("parameter num has value : ", num, "\nid = ",id(num))
  num=num+5
  print("num is increment by 5 is ", num , "\n Now id is ", id(num))

In [ ]:
number= int(input("Enter any number"))
print("id of argument number is : ", id(number))
incrvalue(number)

Enter any number8
id of argument number is :  138764323701200
parameter num has value :  8
id =  138764323701200
num is increment by 5 is  13
 Now id is  138764323701360

In [ ]:
# Mixed Fraction
'''
Write a programm that accepts numerator and dominator of a fractional number and calls a user defined function mixedfraction() when
the fraction formed is not a proper fraction. The default value of denominator is 1.
The function displays a mixed fraction only if the fraction formed by the parameters does not evaluate to a whole number

'''

'\nWrite a programm that accepts numerator and dominator of a fractional number and calls a user defined function mixedfraction() when\nthe fraction formed is not a proper fraction. The default value of denominator is 1.\nThe function displays a mixed fraction only if the fraction formed by the parameters does not evaluate to a whole number \n\n'

In [ ]:
from pickle import decode_long
def mixedfract(num,deno =1):
  reminder = num%deno
  if reminder !=0 :
    qoutient = int(num/deno)
    print("The mixed Fraction = ", qoutient, "(", reminder ,"/", deno ,")")
  else:
      print("The given fraction evaluates to a whole number")

In [ ]:
num = int(input("Enter the numerator: "))
deno = int(input("Enter the Dominator: "))
print("You enterd : ", num , "/", deno)
if num > deno :
  mixedfract(num,deno)
else:
  print("it is a proper fraction :")

Enter the numerator: 8
Enter the Dominator: 3
You enterd :  8 / 3
The mixed Fraction =  2 ( 2 / 3 )

In [ ]:
helloPythen() #Function Call
def helloPython(): #Function definition
 print("I love Programming ")

NameError: ignored

In [ ]:
num = 5
def  myfunc():
  y = num + 5
  print("accessing num -> (global) in myfunc , value= ", num )
  print("accesing y -> (local variable of myfunc) , value= ",y)

In [ ]:
myfunc()

accessing num -> (global) in myfunc , value=  5
accesing y -> (local variable of myfunc) , value=  10

In [ ]:
print("Accesing num -> (global) outside myfunc ", num )

Accesing num -> (global) outside myfunc  5

In [ ]:
# y not definded because its a local variable
print("Accessing y -> (local variable ) ", y)

NameError: ignored

In [ ]:
num = 5
def myfunc1():
  #prefixing global informs python to use the updated global variable num outside the fun
  global num
  print("Accessing num = ",num)
  num = 10
  print("num reassigned = " ,num)

In [ ]:
myfunc1()

Accessing num =  5
num reassigned =  10

In [ ]:
#map() function
tup = (5,7,22,97,54)
newtup = tuple(map(lambda x : x+3 , tup))
print(newtup)

(8, 10, 25, 100, 57)

In [ ]:
tup =(1, 2, 3, 4, 5)
cube= tuple(map(lambda x:x**3 , tup))
print(cube)

(1, 8, 27, 64, 125)

In [ ]:
# filter(function, iterable)

def func(x):
  if x>=3 :
    return x
y = filter(func, (1,2,3,4))
print(y)
print(list(y))

<filter object at 0x7e3457b8eda0>
[3, 4]

In [ ]:
y = filter(lambda x:(x>3) , (1,2,3,4,5))
print(list(y))

[4, 5]

In [ ]:
# reduce(func, iterable)
from functools import reduce

In [ ]:
z = reduce(lambda a,b : a+b , [23,21,45,98])

In [ ]:
z

187

In [ ]:
#flatten
nestedlist = [[1,2,3,4], ["a","b","c"], [1.1, 1.0E1, 1+2j]]
flatlist = []
for sub in nestedlist :
  for elements in sub :
    flatlist.append(elements)
print(flatlist)

[1, 2, 3, 4, 'a', 'b', 'c', 1.1, 10.0, (1+2j)]

In [ ]:
from operator import concat
flatlist = reduce(concat , nestedlist)
print(flatlist)

[1, 2, 3, 4, 'a', 'b', 'c', 1.1, 10.0, (1+2j)]

In [ ]:
flatlis = [j for i in nestedlist for j in i  ]

In [ ]:
flatlis

[1, 2, 3, 4, 'a', 'b', 'c', 1.1, 10.0, (1+2j)]

In [ ]:
d1 = {"A1":20 , "B1":25, "C1":40 , "D1":50}
d2= {"X1":100, "Y1":200, "b1":25, "A1":22, "D1":"Hello"}
d3={**d1, **d2}

In [ ]:
print(d3)

{'A1': 22, 'B1': 25, 'C1': 40, 'D1': 'Hello', 'X1': 100, 'Y1': 200, 'b1': 25}

In [3]:
def isdivisible(n):
  temp = n

  #check if any of digit divides n
  while n :
    k = n%10

    #check if k divides N
    if temp % k == 0:
      return "Yes"

    n /= 10 ;

  # Number is not divisible by
  #any of digits
  return "No"

# Driver Code
n = 9876543
print(isdivisible(n))

Yes